@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --main-color: #1d1d1d;
  --dark: #0c0c0c;
  --light: #fdfdfd;
  --accent: #e09900;
  --text: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;

  body {
    max-width: 100vw;
    border: 0;
    background-color: var(--main-color);
    margin: 0;
    padding: 0;
    font-family: var(--text);
    color: white;
    font-size: 100%;
    overflow-x: hidden;

    h1 {
      font-size: 3.5em;
      text-align: center;
      color: var(--light);
    }

    h2 {
      font-size: 2em;
      margin: 2em;
      color: var(--light);
    }

    h4 {
      font-size: 2em;
      color: var(--accent);
    }

    p {
      font-size: 1em;
      line-height: 1.5;
      font-family: var(--text);
      color: var(--light);
    }

    @media screen and (max-width: 600px) {
      h1 {
        font-size: 2em;
      }
      h2 {
        font-size: 1.8em;
      }
      h4 {
        font-size: 1.5em;
      }
    }

    /******************** NavBar *************************************/
    nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(29, 29, 29, 0.5);
      display: flex;
      z-index: 1000;
      height: 70px;

      #logonav {
        object-fit: contain;
        width: 5em;
        margin-top: 0.1em;
        margin-left: 2em;
      }

      .burger {
        display: none;
      }

      .menu {
        display: flex;
        justify-content: right;
        margin-left: auto;

        li {
          list-style: none;
          margin-left: 20px;
          margin-right: 20px;

          a {
            text-decoration: none;
            padding: 6px 15px;
            color: var(--light);
            font-weight: 800;
            font-size: 0.8em;
          }
          a:hover,
          a.active {
            color: var(--accent);
          }

          .button-connection {
            text-decoration: none;
            font-weight: 800;
            font-size: 0.8em;
            font-family: var(--text);
            color: var(--light);
            border: none;
            border-radius: 5px;
            background-color: rgba(29, 29, 29, 0.1);
            cursor: pointer;
          }
          .button-connection:hover,
          .button-connection.active {
            color: var(--accent);
          }
        }
      }

      @media screen and (max-width: 600px) {
        .menu {
          display: none;
        }

        .menuBurger {
          display: flex;
          flex-direction: column;
          background-color: var(--light);
          color: var(--main-color);
          position: absolute;
          right: 0;
          top: 0;
          z-index: 20;
          margin: 0;

          li a.active {
            color: var(--accent);
          }

          li {
            list-style: none;
            margin: 15px 20px 15px 15px;

            a {
              text-decoration: none;
              color: var(--blue);
              border-radius: 0;
              padding: 0;
              background-color: none;
            }
          }
        }

        .burger {
          display: block;
          justify-content: right;
          cursor: pointer;
          color: var(--blue);
          background-color: #fff;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          padding: 5px;
          z-index: 30;
          margin-right: 10px;
          margin-top: -26px;
        }
      }
    }

    /******************** MODAL CONNECTION *************************************/

    #connectionModal {
      background-color: var(--main-color);

      .close-modal {
        border: none;
        color: var(--light);
        font-size: 15px;
        background-color: rgba(10, 0, 0, 0);
        margin: 0.5em 0.5em 0.5em 0.5em;
        padding: 0.5em;
        cursor: pointer;
        text-decoration: none;
        transition: transform 0.7s;
      }

      .close-modal:hover {
        color: var(--accent);
      }

      h4 {
        margin: 0.9em;
      }

      .form-connection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input {
          background-color: var(--light);
          border: none;
          color: var(--main-color);
        }

        .thebutton {
          text-decoration: none;
          background-color: var(--main-color);
          color: var(--light);
          font-family: var(--text);
          font-weight: 400;
          border: none;
          margin-left: 1em;
          padding: 0.3em;
          cursor: pointer;
        }
      }

      .the-button {
        border: var(--accent) solid;
        color: var(--accent);
        border-width: 1px;
        border-radius: 5px;
        font-size: 19px;
        background-color: rgba(10, 0, 0, 0);
        margin: 1.5em 0.5em 0.5em 0.5em;
        padding: 0.5em;
        cursor: pointer;
        text-decoration: none;
        transition: transform 0.7s;
      }

      .the-button:hover {
        background-color: var(--accent);
        color: var(--main-color);
        transform: scale(1.05);
      }

      .the-button-compte {
        border: var(--accent) solid;
        color: var(--accent);
        border-width: 1px;
        border-radius: 5px;
        font-size: 19px;
        background-color: rgba(10, 0, 0, 0);
        margin: 0.2em 0.5em 0.5em 0.5em;
        padding: 0.5em;
        cursor: pointer;
        text-decoration: none;
        transition: transform 0.7s;
      }

      .the-button-compte:hover {
        background-color: var(--accent);
        color: var(--main-color);
        transform: scale(1.05);
      }
    }

    @media screen and (max-width: 600px) {
      #connectionModal {
        width: 80%;
      }
    }

    /******************** MODAL CREATION *************************************/

    #creationModal {
      background-color: var(--main-color);
      width: 35vw;

      .close-modal {
        border: none;
        color: var(--light);
        font-size: 15px;
        background-color: rgba(10, 0, 0, 0);
        margin: 0.5em 0.5em 0.5em 0.5em;
        padding: 0.5em;
        cursor: pointer;
        text-decoration: none;
        transition: transform 0.7s;
      }

      .close-modal:hover {
        color: var(--accent);
      }

      h4 {
        text-align: center;
        margin: 1em;
      }

      .form-account {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 30vw;
        margin: auto;

        .name-conatiner {
          display: flex;
          justify-content: space-between;
        }

        .label-container-modal {
          display: flex;
          flex-direction: column;
          margin: 0.5em;
        }

        label {
          font-family: var(--text);
          color: var(--light);
        }

        .thebutton {
          text-decoration: none;
          background-color: var(--main-color);
          color: var(--light);
          font-family: var(--text);
          font-weight: 400;
          border: none;
          margin-left: 1em;
          padding: 0.3em;
          cursor: pointer;
        }
      }
      .button-account {
        border: var(--accent) solid;
        color: var(--accent);
        border-width: 1px;
        border-radius: 5px;
        font-size: 19px;
        background-color: rgba(10, 0, 0, 0);
        margin: 1.5em 0.5em 0.5em 0.5em;
        padding: 0.5em;
        cursor: pointer;
        text-decoration: none;
        transition: transform 0.7s;
      }
      .the-button-account:hover {
        background-color: var(--accent);
        color: var(--main-color);
        transform: scale(1.05);
      }
    }

    @media screen and (max-width: 600px) {
      #creationModal {
        width: 87%;
      }
    }

    /******************** HOME *************************************/

    .home {
      .accueil-banniere {
        width: 100%;

        img {
          width: 100vw;
        }
      }
      .explications {
        display: flex;
        justify-content: center;
        align-items: center;

        .exemple {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 30%;

          img {
            width: 15em;
            height: 10em;
            border: var(--dark) solid;
            background: var(--dark);

            object-fit: contain;
          }
        }
      }

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2em;

        .the-button {
          border: var(--accent) solid;
          color: var(--accent);
          border-width: 1px;
          border-radius: 5px;
          font-size: 19px;
          background-color: rgba(10, 0, 0, 0);
          margin: 1em;
          padding: 0.8em;
          cursor: pointer;
          text-decoration: none;
          transition: transform 0.7s;
        }

        .the-button:hover {
          background-color: var(--accent);
          color: var(--main-color);
          transform: scale(1.05);
        }
      }
    }
    @media screen and (max-width: 600px) {
      .explications {
        flex-direction: column;
      }
      .home .explications .exemple {
        width: 100%;
      }
    }

    /******************** GUITARES *************************************/

    .guitares {
      width: 100vw;
      height: 100%;

      .guitare-banner {
        width: 100%;
        height: 45vh;
        object-fit: cover;
      }

      .guitares-box {
        display: flex;
        justify-content: center;
        align-items: center;

        .link-guitares {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;

          .guitares-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 2em;

            .guitar-btn {
              background-color: var(--dark);
              border: none;
              text-decoration: none;
              padding: 1.5em;
              cursor: pointer;
            }

            .guitare {
              max-width: 14rem;
              max-height: 24rem;
              object-fit: contain;
              margin: 0.5em;
              transition: transform 0.7s;
            }
            .guitare:hover {
              transform: scale(1.05);
            }

            p {
              text-decoration: none;
            }
          }
        }
      }
    }

    @media screen and (max-width: 600px) {
      .guitares .guitares-box {
        flex-direction: column;
      }
    }
    /******************** GUITARE *************************************/

    .guitare {
      width: 100vw;
      height: 100%;

      .guitareid-banner {
        width: 100%;
        height: 45vh;
        object-fit: cover;
      }
    }
    .prereglage {
      display: flex;
      justify-content: end;
      align-items: center;
      margin: 2em;

      .select-reglage {
        margin: 0.5em;
        height: 2em;
        padding: 0.2em;
        font-family: var(--text);
        background-color: var(--light);
        color: var(--main-color);
      }
    }
    .custom {
      margin: 2em;

      .btn_tete {
        background-color: var(--main-color);
        border: none;
        cursor: pointer;
      }
      .btn_tete img {
        max-width: 5em;
        object-fit: contain;
      }

      .btn_manche {
        background-color: var(--main-color);
        border: none;
        cursor: pointer;
      }
      .btn_manche img {
        max-width: 5em;
        object-fit: contain;
      }

      .btn_repere {
        background-color: var(--main-color);
        border: none;
        cursor: pointer;
      }
      .btn_repere img {
        max-width: 5em;
        object-fit: contain;
      }

      .btn_microm {
        background-color: var(--main-color);
        border: none;
        cursor: pointer;
      }
      .btn_microm img {
        max-width: 5em;
        object-fit: contain;
      }
      .btn_btn {
        background-color: var(--main-color);
        border: none;
        cursor: pointer;
      }
      .btn_btn img {
        max-width: 5em;
        object-fit: contain;
      }
    }

    .guitare-box {
      display: flex;
      justify-content: center;
      align-items: center;

      .guitare-id {
        max-width: 14rem;
        max-height: 24rem;
        object-fit: contain;
        margin: 0.5em;
      }
    }

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      .button-enregistrer {
        border: var(--accent) solid;
        color: var(--accent);
        border-width: 1px;
        border-radius: 5px;
        font-size: 19px;
        background-color: rgba(10, 0, 0, 0);
        margin: 1em;
        padding: 0.8em;
        cursor: pointer;
        text-decoration: none;
        transition: transform 0.7s;
      }
      .button-enregistrer:hover {
        background-color: var(--accent);
        color: var(--main-color);
        transform: scale(1.05);
      }
    }
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      .button-enregistrer {
        border: var(--accent) solid;
        color: var(--accent);
        border-width: 1px;
        border-radius: 5px;
        font-size: 19px;
        background-color: rgba(10, 0, 0, 0);
        margin: 1em;
        padding: 0.8em;
        cursor: pointer;
        text-decoration: none;
        transition: transform 0.7s;
      }
      .button-connection {
        border: var(--accent) solid;
        color: var(--accent);
        border-width: 1px;
        border-radius: 5px;
        font-size: 19px;
        background-color: rgba(10, 0, 0, 0);
        margin: 1em;
        padding: 0.8em;
        cursor: pointer;
        text-decoration: none;
        transition: transform 0.7s;
      }
      .button-connection:hover {
        background-color: var(--accent);
        color: var(--main-color);
        transform: scale(1.05);
      }
    }

    @media screen and (max-width: 600px) {
      .guitare-box {
        display: flex;
        flex-direction: column;
      }
    }

    /******************** PROFIL*************************************/

    .profil {
      width: 100vw;
      height: 100%;

      .titre-info {
        position: relative;
        display: inline-block;

        .profil-banner {
          width: 100vw;
          height: 45vh;
          object-fit: cover;
        }

        h1 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgba(29, 29, 29, 0.5);
          width: 100vw;
          padding: 10px 20px;
          color: white;
        }
      }
      .info {
        display: flex;

        .user-info {
          background-color: var(--dark);
          width: 40vw;
          height: 100%;
          margin-right: 2em;

          h4 {
            margin-left: 2em;
          }

          p {
            margin: 2em 1em 2em 4em;
          }
        }
      }
    }

    @media screen and (max-width: 600px) {
      .info {
        flex-direction: column;
      }
      .profil .info .user-info {
        width: 100vw;
        height: fit-content;
      }

      .info .guitar-info {
        margin: 1em;
      }
    }

    /******************** FOOTER *************************************/
    .footer {
      width: 100vw;
      height: 2em;
      background-color: var(--dark);
      position: absolute;

      p {
        text-align: center;
        margin: 0.2em;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    p {
      font-size: 0.6em;
    }
  }
}
